*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.eng{
	font-family: 'Teko', sans-serif;
}

.rus{
	font-family: 'Source Sans Pro', sans-serif;
}

.img1{
	width: 390px;
	border-radius: 100%;
}